body
{
	margin: 0;
	padding: 0;
	background-color: #5549f8;
}

header
{
	background-image: url(Header.jpg);
	background-repeat: no-repeat;
	border: 1px solid #000;
}


header > h1
{
	color: red;
	text-align: center;
	margin: 0;
	
	border: 1px solid #fff;
	background-color: #fff;
	padding: 1.5% 0%;
	border-radius: 60%;
	-webkit-border-radius: 60%;
	-moz-border-radius: 60%;
	-ms-border-radius: 60%;
	-o-border-radius: 60%;
	width: 40%;
}

#Buttons
{
	background-color: white;
	margin-top: 3%;
}

h2
{
	display: inline-block;
	border: 1px solid #000;
	margin: 0;
}