body
{
	margin: auto;
	width: 100%;
}

#logo
{
	width: 8%;
	height: 8%;
}

header > h1
{
	display: inline-block;
	vertical-align: 60%;
}

header
{	
	text-align: center;
}

#bild
{
	width: 100%;
}



#content h2, #content h3
{
	font-family: sans-serif;
}

#content > section p
{
	font-family: serif;
	font-size: 120%;
}

footer
{
	text-align: center;
	font-size: 120%;
	font-family: sans-serif;
}

#nav
{
	display: inline-block;
	width: 7%;
	background-color: #DDD;
}

#nav p
{
	margin-bottom: 1%;
	margin-top: 1%;
	font-size: 120%;
	text-decoration: underline;
}

#navlist
{
	font-weight: bold;
	text-decoration: none;
}

#text
{
	width: 58%;
	margin: auto;
	background-color: #EEE;
}